body{ font-family: Arial; }
h1 { text-transform: uppercase; color: #999 }
h2 { font-style: italic; color: #999 }
h3 { text-decoration: overline; color: #999 }
p { text-align: justify; color: #000; }
hr { height: 5px; width: 50%; background: #007; }
address { text-align: center; color: #999 }